body
{
    margin: 0;
    padding: 0;
    background-color: white;
}

.menu .center
{

flex: 2 1 0%;
text-align: right;
padding-bottom: 3%;

}
.menu
{
    background-color: #1F2937;
    color: white;
    padding-right: 3%;
    padding-left: 1%;
    border: 0px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu .centertext
{
    flex: 10 1 0%;
    
}

.menu .right
{
    font-family: 'Roboto', arial;
    font-size: 20px;
    flex: 1 1 0%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.menu a
{
    text-decoration: none;
    color: white;
}

footer
{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.Body1
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 2%;
}
.Body1 .body1right
{
    width: 500px;
    height: 350px;
}

.Body1 .body1left
{

    flex-direction: column;
    width: 400px;
}

.body1h
{
    color:#F9FAF8;
    font-size: 48px;
}

.body1p
{
    font-size: 18px;
    color: #E5E7EB;
}

.button1
{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.Body2
{
    background-color: white;
    flex-direction: column;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 2%;
}
.Body2 .body2up
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.Body2 .body2down
{
    display: flex;
    flex-direction: row;
}

.Body2 .body2left
{
    
    margin: 20px;
    flex-direction: column;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Body2 .body2right
{
    margin: 20px;
    flex-direction: column;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Body2 .body2center
{
    margin: 20px;
    flex-direction: column;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Body3
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex: 1 1 0%;
}
.Body3 .quote
{
    font-family: "light italic";
    font-style: italic;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
.Body3 .author
{
    font-family: "light italic";
    font-weight: bold;
    font-size: 20px;
    align-self: stretch;
    padding-left: 20%;
    padding-right: 20%;
    text-align: right;
}


.Body4
{
    background-color: white;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.Body4 .body4center
{
    background-color:#3882F6;
    width: 850px;
    height: 130px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.body4center .body4left
{
    flex: 3 1 0%;
    text-align: left;
    padding-left: 50px;
}

.body4center .body4right
{
    flex: 1 1 0%;
}

.body4text1
{
    font-size: 25px;
    color: white;
}
.body4text2
{
    font-size: 20px;
    color: beige;
}
.button2
{
    display: block;
    text-align: center;
    width: 110px;
    background: lightskyblue;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}