body
{
    margin: 0;
    padding: 0;
}

.menu .center
{

flex: 2 1 0%;
text-align: right;
padding-bottom: 3%;

}
.menu
{
    background-color: #1F2937;
    color: white;
    padding-right: 3%;
    padding-left: 1%;
    border: 0px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu .centertext
{
    flex: 10 1 0%;
    
}

.menu .right
{
    font-family: 'Roboto', arial;
    font-size: 20px;
    flex: 1 1 0%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.menu a
{
    text-decoration: none;
    color: white;
}

footer
{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.Body1
{
    background-color: #1F2937;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    height: 550px;
    gap: 2%;
}
.Body1 .body1right
{
    background-color: white;
    width: 30%;
    height: 50%;
}

.Body1 .body1left
{
    background-color:lightgray;
    width: 20%;
    height: 40%;
}
.Body2
{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 400px;
}
.Body3
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex: 1 1 0%;
}
.Body3 .quote
{
    font-family: "light italic";
    font-style: italic;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
}
.Body3 .author
{
    font-family: "light italic";
    font-weight: bold;
    font-size: 20px;
    align-self: stretch;
    padding-left: 20%;
    padding-right: 20%;
    text-align: right;
}


.Body4
{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 400px;
}